
 
  .label {
    white-space: normal;
    /* word-wrap: normal; */
    /* word-break: break-all; */
    display: flex;
    overflow: visible;
  }
  
  .root {
    flex-direction: column;
    overflow: visible;
    justify-content: center;
    /* margin-left: 5px; */
    /* transition: background-color 0.3s ease; */
    /* color: black; */
    /* background-color: transparent; */
    font-size: small;
    cursor: pointer;
  }

  .root:hover {
    background-color: rgba(0, 0, 255, 0.05);
  }

  .root:disabled {
    background-color: transparent;
    color: gray;
    color: darkgray;
    cursor: not-allowed;
    pointer-events: none;
  }