name: FIAB
services:

  frontend:
    container_name: fiab-frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile

    ports:
      - "3000:3000"
    # environment:
    #   VITE_API_BASE: "http://localhost:8000"
    networks:
      - fiab-network

  backend:
    container_name: fiab-backend
    build:
      context: ./backend
      dockerfile: Dockerfile
    volumes:
      - data:/app/data_dir
      - ~/.ssh:/root/.ssh:ro
      - ~/.ecmwfapirc:/root/.ecmwfapirc:ro
    ports:
      - "8000:8000"
    environment:
      API_URL: "http://backend:8000"
      DATA_PATH: "/app/data_dir"
      MODEL_REPOSITORY: "https://sites.ecmwf.int/repository/fiab"
      CASCADE_URL: "tcp://cascade:8067"
      MONGODB_URI: "mongodb://db:27017"
      MONGODB_DATABASE: "fiab"

      ECMWF_API_URL: "https://api.ecmwf.int/v1"
      ECMWF_API_KEY: ${ECMWF_API_KEY}
      ECMWF_API_EMAIL: ${ECMWF_API_EMAIL}

      FIAB_INSTALL_TYPE: all
    networks:
      - fiab-network

  cascade:
    container_name: fiab-cascade
    build:
      context: ./backend
      dockerfile: Dockerfile
    entrypoint: "python -m cascade.gateway tcp://0.0.0.0:8067"
    networks:
      - fiab-network

  db:
    container_name: fiab-db
    image: mongo:8.0
    networks:
      - fiab-network

  # web:
  #   container_name: fiab-web
  #   image: nginxinc/nginx-unprivileged:1-alpine-slim
  #   volumes:
  #     # - $PWD/nginx.conf:/etc/nginx/conf.d/default.conf
  #     - frontend-dist:/usr/share/nginx/html
  #   ports:
  #     - "8080:8080"

networks:
  fiab-network:
    driver: bridge
  host:
    external: true
    name: host

volumes:
  data:
  # frontend-dist:
