
/* Base button styles */
.root {
  display: inline flow-root list-item;
  justify-content: center;
  margin-left: 5px;
  transition: background-color 0.3s ease;
  color: black;
  background-color: transparent;
  font-size: small;
  cursor: pointer;
}

/* Hover state */
.root:hover {
  background-color: grey;
}

/* Disabled button styles */
.root--disabled {
  color: darkgray;
  cursor: not-allowed;
  pointer-events: none;
}
