

.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    transition: background-color 0.3s ease;
    color: black;
    background-color: transparent;
}

.button:hover {
    background-color: grey;
}

/* .option-group {
    border-bottom: 2px solid rgb(164, 164, 164);
} */

.option-list {
    /* background-color: rgba(208, 208, 208, 0.969); */
}

.heading {
    font-size: large;
    color: rgba(102, 101, 101, 0.94);
}