<!doctype html><title>Forecast In A Box: Prepare A Job</title>

<script>
window.addEventListener("load", function() {
    var now = new Date();
    var utcString = now.toISOString().substring(0,19);
    var year = now.getFullYear();
    var month = now.getMonth() + 1;
    var day = now.getDate();
    var hour = now.getHours();
    var minute = now.getMinutes();
    // var second = now.getSeconds();
    var localDatetime = year + "-" +
                      (month < 10 ? "0" + month.toString() : month) + "-" +
                      (day < 10 ? "0" + day.toString() : day) + "T" +
                      (hour < 10 ? "0" + hour.toString() : hour) + ":" +
                      (minute < 10 ? "0" + minute.toString() : minute); // +
                      // utcString.substring(16,19);
    var datetimeField = document.getElementById("d1");
    var elems = document.querySelectorAll('input[type=datetime-local]');
    var elemsL = elems.length;
    for (i=0; i<elemsL; i++) {
        elems[i].value = localDatetime;
    }
});

function toggleVisibilityElement(element) {
  if ( element.style.display!='none' ) {
    element.style.display='none';
  } else {
    element.style.display='';
  }
}

function toggleVisibility(prefix) {
  var elements = document.querySelectorAll('[id^="' + prefix + '"]');
  for (var i = 0; i < elements.length; i++) {
    toggleVisibilityElement(elements[i]);
  }
}
</script>


<body>
<h3>Forecast in a Box: AIFS model suite</h3>
<form action="/submit_form" method="post">
	<input type="hidden" id="job_name" name="job_name" value="{{ job_name }}"><br>
	<input type="hidden" id="job_type" name="job_type" value="{{ job_type }}">

	<h4>Input specifications:</h4>
	{% for e in initial %}
		<label for="{{ e[0] }}">{{ e[2] }}:</label><br>
		{% if e[1] == 'datetime' %}
			<input type="datetime-local" id="{{ e[0] }}" name="{{ e[0] }}"><br>
		{% else %}
			<input type="text" id="{{ e[0] }}" name="{{ e[0] }}" value="{{ e[3] }}"><br>
		{% endif %}
	{% endfor %}

	<h4>Processing parameters:</h4>
	{% for e in model %}
		<label for="{{ e[0] }}">{{ e[2] }}:</label><br>
		{% if e[1] == 'dropdown' %}
			<select name="{{ e[0] }}" id="{{ e[0] }}">
			{% for ee in e[3] %}
				<option value="{{ ee }}">{{ ee }}</option>
			{% endfor %}
			</select>
			<br>
		{% else %}
			<input type="text" id="{{ e[0] }}" name="{{ e[0] }}" value="{{ e[3] }}"><br>
		{% endif %}
	{% endfor %}

	<h4>Output configuration:</h4>
	{% for e in output %}
		{% if e[1] == 'checkbox' %}
			Select {{ e[2] }}:<br>
			{% for ee in e[3] %}
			<input type="checkbox" id="{{ ee[0] }}" name="{{ ee[0] }}" value="{{ e[1] }}" onchange="toggleVisibility('{{ ee[2] }}');" checked>
			<label for="{{ e[1] }}">{{ ee[1] }}</label><br>
			{% endfor %}
		{% else %}
			<div id="{{ e[0] }}Div">
			<label for="{{ e[0] }}" id="{{ e[0] }}Label">{{ e[2] }}:</label><br>
			<input type="text" id="{{ e[0] }}" name="{{ e[0] }}" value="{{ e[3] }}"><br>
			</div>
		{% endif %}
	{% endfor %}


	<br>
	<input type="submit" name="fiab.int.action.launch" value="Launch Job">
	<input type="submit" name="fiab.int.action.store" value="Store Config">
</form>
</body>
