<!doctype html><title>Forecast In A Box: Submit A Job</title>

<h2> Choose your Destiny </h2>

<h3> Prepare a job based on example template </h3>
<form action="/select" method="post">
	Select which job type you'd like to submit:<br>
	{% for e in jobs %}
		<input type="radio" id="{{ e }}" name="example_name" value="{{ e }}">
		<label for="{{ e }}">{{ e }}</label><br>
	{% endfor %}

	<input type="submit" value="Select Job Template">
</form>

<br>
<br>

<h3> Prepare a job using Fancy Interactive Action Builder </h3>

<form action="/prepare_builder" method="post">
	(Pretend this is JavaScript)<br>
  	<label for="job_pipeline">Fill in the job pipeline:</label>
	<input type="text" id="job_pipeline" name="job_pipeline" size=50>
	<br>
	<input type="submit" value="Build Job Pipeline">

	<br>
	(Fancy Docs)<br>
	<ul>
	{% for e in tasks %}
		<li>{{ e }}</li>
	{% endfor %}
	</ul>
</form>

<br>
<br>

<h3> Submit a job using existing configuration file </h3>

<form action="/submit_file" enctype="multipart/form-data" method="post">
	Or launch a job from a prepared config:<br>
	<label for="config_file">Upload a file with config:</label>
	<input type="file" id="config_file" name="config_file">
	<br>
	<input type="submit" value="Launch Job">
</form>
