@font-face {
    font-family: 'NebulaSans';
    src: url('./NebulaSans-Book.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'NebulaSans-Bold';
    src: url('./NebulaSans-Bold.woff2') format('woff2');
    font-weight: 900;
    font-style: bold;
  }

  @font-face {
    font-family: 'NebulaSans-Semibold';
    src: url('./NebulaSans-Semibold.woff2') format('woff2');
    font-weight: 900;
    font-style: bold;
  }