.animated-button {
  color: #FFF;
  background-color: #007BFF;
  text-align: left !important;
  border: none;
  cursor: pointer;
  outline: none;
  overflow: hidden; /* Ensures no overflow outside the button */
  border-radius: 0px; /* Optional: for rounded corners */
  padding-left: 2px;
}

.animated-button::after {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #6DABFF;
  transform: scaleX(0); /* Start with the line scaled to 0 */
  transform-origin: left center; /* Scale from left to right */
  transition: transform 500ms ease-in-out; /* Animation effect */
  border-radius: 2px;
}

.animated-button:hover::after {
  transform: scaleX(1); /* Scale the line to full width on hover */
}

.logo {
  transition: all 0.5s ease-in-out;
}

.logo:hover {
  filter: brightness(80%);
}